<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="PageObjectModel factories">
  <listeners>
  	<listener class-name="com.w2a.errorcollectors.TestListenerAdapter"/>
    <listener class-name="org.uncommons.reportng.HTMLReporter"/>
    <listener class-name="org.uncommons.reportng.JUnitXMLReporter"/>
    <listener class-name="com.w2a.listeners.CustomListners"/>
  </listeners> 

	  
  <test thread-count="5" name="SignInTest">
    <classes>
    	<class name="com.w2a.testcases.SignInTest"/>
    </classes>
  </test> <!-- Test -->
  
  <test thread-count="5" name="FlightSearchTest">
    <classes>
    	<class name="com.w2a.testcases.FlightSearchTest"/>
    </classes>
  </test> <!-- Test -->
  
</suite> <!-- Suite -->
